body {
  margin: 0;
  font-family: 'Calibri', sans-serif;
  background-image: url('bg.png');
  color: gold;
}

main {
  max-width: 720px;
  margin: auto;
}

h1 {
  line-height: 50px;
  background: #444;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  background: #444;
}

th {
  border-left: 2px solid gold;
  background: #444;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

th:last-child {
  border-right: 2px solid gold;
}

td {
  text-align: center;
  padding: 10px 0;
}

tr:nth-child(2n+1) {
  background: #555;
}

tr:nth-child(2n) {
  background: #444;
}